{% extends "cars/header.html" %}
{% block og-head %}
{% load static %}
<meta property="og:image" content="http://autohold.hu{{ image_urls | first }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://autohold.hu/auto/{{ car.pk }}" />
<meta property="og:title" content= "{{ car.név }}" />
<meta property="og:description" content="Mint az összes autónk, ez is gondosan lett kiválasztva és szállítva, vegye át akár rögtön a telephelyünkön!" />
{% endblock %}
{% block nav %}
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">AUTO-HOLD</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Autóink<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#bem-container">Bemutatkozás</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#behozatal">Behozatal</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#kapcsolat">Kapcsolat</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.facebook.com/sensationkft/" target="_blank">{% load static %}<img src="{% static 'cars/images/fb-logo.png' %}"></a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}
{% block header %}
<div class="header-float2">
    <div class="header-float-inner">
        <h2 id="header-text" style="color: white;">AUTO-HOLD</h2>
    </div>
</div>
<div id="swiper-wrapper-main">
<div class="swiper-container gallery-top">
    <div class="swiper-wrapper">
        {% for url in image_urls %}
        <div class="swiper-slide mouseover-slide" style="background-image:url({{url}})"></div>
        {% endfor %}
    </div>
    <!-- Add Arrows -->
    <div class="swiper-button-next swiper-button-white"></div>
    <div class="swiper-button-prev swiper-button-white"></div>
  </div>
  <div class="swiper-container gallery-thumbs">
    <div class="swiper-wrapper">
        {% for url in image_urls %}
        <div class="swiper-slide" style="background-image:url({{url}})"></div>
        {% endfor %}
    </div>
  </div>
</div>

  <!-- Swiper JS -->
  {% load static %}
  <script type="text/javascript" src="{% static 'cars/scripts/swiper.min.js' %}"></script>
  <!-- Initialize Swiper -->
  <script>
    var galleryTop = new Swiper('.gallery-top', {
      spaceBetween: 10,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
    var galleryThumbs = new Swiper('.gallery-thumbs', {
      spaceBetween: 10,
      centeredSlides: true,
      slidesPerView: 'auto',
      touchRatio: 0.2,
      slideToClickedSlide: true,
    });
    galleryTop.controller.control = galleryThumbs;
    galleryThumbs.controller.control = galleryTop;
  </script>
{% endblock %}
{% block contents %}
<div id="details-h2-container">
    <h2>{{car.név}}</h2>
</div>
<div id="details-container">
    <div id="description" class="row">
        <div class="col-md-12 col-lg-6">
            <h3>Leírás</h3>
            <ul id="description-list">
                <li><span class="details-li-title">Első forgalomba helyezés:</span> {{car.elsőforgalomba}}</li>
                <li><span class="details-li-title">Futott kilométerek:</span>{% if car.futott %}{{car.futott}}{% else %} -{% endif %}</li>
                <li><span class="details-li-title">Ár:</span> {{ár}}</li>
                <li><span class="details-li-title">Motor űrtartalom:</span> {% if car.motorűrtartam %}{{car.motorűrtartam}}{% else %} -{% endif %} </li>
                {% if car.évjárat %}
                <li><span class="details-li-title">Évjárat:</span> {{car.évjárat}}</li>
                {% endif %}
                {% if car.henger_elrendezés %}
                <li><span class="details-li-title">Henger elrendezés:</span> {{car.henger_elrendezés}}</li>
                {% endif %}
                {% if car.saját_tömeg %}
                <li><span class="details-li-title">Saját tömeg:</span> {{car.saját_tömeg}} kg</li>
                {% endif %}
                {% if car.össztömeg %}
                <li><span class="details-li-title">Össztömeg:</span> {{car.össztömeg}} kg</li>
                {% endif %}
                {% if car.csomagtartó %}
                <li><span class="details-li-title">Csomagtartó:</span> {{car.csomagtartó}} l</li>
                {% endif %}
                {% if car.környezetvédelmi_osztály %}
                <li><span class="details-li-title">Környezetvédelmi osztály:</span> {{car.környezetvédelmi_osztály}}</li>
                {% endif %}
                {% if car.seb_váltó_fajta %}
                <li><span class="details-li-title">Sebességváltó fajta:</span> {{car.seb_váltó_fajta}}</li>
                {% endif %}
                {% if car.seb_váltó_fokozatok %}
                <li><span class="details-li-title">Sebességváltó fokozatok:</span> {{car.seb_váltó_fokozatok}}</li>
                {% endif %}
                {% if car.hajtás %}
                <li><span class="details-li-title">Hajtás:</span> {{car.hajtás}}</li>
                {% endif %}
                {% if car.külső_szín %}
                <li><span class="details-li-title">Külső szín:</span> {{car.külső_szín}}{% if car.külső_szín_részletes %} ({{car.külső_szín_részletes}}){% endif %}</li>
                {% endif %}
                {% if car.belső_szín %}
                <li><span class="details-li-title">Belső szín:</span> {{car.belső_szín}}{% if car.belső_szín_részletes %} ({{car.belső_szín_részletes}}){% endif %}</li>
                {% endif %}
                {% if car.klíma_fajta %}
                <li><span class="details-li-title">Klíma:</span> {{car.klíma_fajta}}</li>
                {% endif %}
                {% if car.tető_fajta %}
                <li><span class="details-li-title">Tető fajta:</span> {{car.tető_fajta}}</li>
                {% endif %}
            </ul>
        </div>
        <div class="col-lg-6">
            <div class="col-card detail-card" style="margin-bottom: 2rem;">
                <div class="card last text-center"onclick="window.open('#behozatal', '_self')"style="cursor:pointer;">
                    <div class="card-body-own card-body light">
                        <h4 class="card-title">Más felszereltséggel képzelte el?</h4>
                        <p>Lépjen velünk kapcsolatba és segítünk beszerezni!</p>
                        <p class="lead"><strong>Kattintson a részletekért!</strong></p>
                    </div>
                </div>
            </div>
            <div class="col-card detail-card">
                <div class="card fb-card text-center"onclick="window.open('https://www.facebook.com/sensationkft/')"style="cursor:pointer;">
                    <div class="card-body-own card-body light">
                        <h4 class="card-title">Kövessen minket Facebookon!</h4>
                        <p>Ne maradjon le egy ajánlatról sem!</p>
                        {% load static %}
                        <img src="{% static 'cars/images/fb-logo.png' %}">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="felszer-container">
        <h3>Felszereltség</h3>
        <div class="row" id="felszer-row">
            <div class="col-12 col-sm-12 col-md-6 col-md-3 col-lg-3 specifications-col">
                <h3>Műszaki felszereltség</h3>
                <div>
                    <ul>
                    {% if car.stop_go %}
                        <li>Stop & Go: Van</li>
                    {% endif %}
                    {% if car.holttérfigyelő %}
                        <li>Holttér figyelő: Van</li>
                    {% endif %}
                    {% if car.sávvváltás_figyelmeztető %}
                        <li>Sávváltás figyelmeztető: Van</li>
                    {% endif %}
                    {% if car.ráfutás_figyelmeztető_aktiv_fék %}
                        <li>Ráfutás figyelmeztető aktív fék: Van</li>
                    {% endif %}
                    {% if car.kamera %}
                        <li>Kamera: Van</li>
                    {% endif %}
                    {% if car.okos_kamera_orr_kamera_360 %}
                        <li>360 okos kamera + orrkamera: Van</li>
                    {% endif %}
                    {% if car.beparkoló_asszisztens %}
                        <li>Beparkoló asszisztens: Van</li>
                    {% endif %}
                    {% if car.head_up_kivetitő %}
                        <li>Head Up kivetítő: Van</li>
                    {% endif %}
                    {% if car.elgurulás_védelem_auto_hold %}
                        <li>Elgurulás védelem (Auto-hold): Van</li>
                    {% endif %}
                    {% if car.elektromos_kézifék %}
                        <li>Elektromos kézifék: Van</li>
                    {% endif %}
                    {% if car.állítható_felfüggesztés %}
                        <li>Állítható felfüggesztés: Van</li>
                    {% endif %}
                    {% if car.állítható_kormány %}
                        <li>Állítható kormány: Van</li>
                    {% endif %}
                    {% if car.motoros_kormány_állítás %}
                        <li>Motoros kormány állítás: Van</li>
                    {% endif %}
                    {% if car.centrálzár %}
                        <li>Centrálzár: Van</li>
                    {% endif %}
                    {% if car.chiptuning %}
                        <li>Chiptuning: Van</li>
                    {% endif %}
                    {% if car.defektjavító_készlet %}
                        <li>Defektjavító készlet: Van</li>
                    {% endif %}
                    {% if car.EDC %}
                        <li>EDC: Van</li>
                    {% endif %}
                    {% if car.elektromos_ablak_elöl %}
                        <li>Elektromos ablak elöl: Van</li>
                    {% endif %}
                    {% if car.elektromos_ablak_hátul %}
                        <li>Elektromos ablak hátul: Van</li>
                    {% endif %}
                    {% if car.elektromos_tolótető %}
                        <li>Elektromos tolótető: Van</li>
                    {% endif %}
                    {% if car.elektromos_tükör %}
                        <li>Elektromos tükör: Van</li>
                    {% endif %}
                    {% if car.fedélzeti_komputer %}
                        <li>Fedélzeti komputer: Van</li>
                    {% endif %}
                    {% if car.fűthető_tükör %}
                        <li>Fűthető tükör: Van</li>
                    {% endif %}
                    {% if car.kerámia_féktárcsák %}
                        <li>Kerámia féktárcsák: Van</li>
                    {% endif %}
                    {% if car.könnyűfém_felni %}
                        <li>Könnyű fém felni: Van</li>
                    {% endif %}
                    {% if car.kormányváltó %}
                        <li>Kormányváltó: Van</li>
                    {% endif %}
                    {% if car.króm_felni %}
                        <li>Króm felni: Van</li>
                    {% endif %}
                    {% if car.kulcsnélküli_indítás %}
                        <li>Kulcsnélküli indítás: Van</li>
                    {% endif %}
                    {% if car.részecskeszűrő %}
                        <li>Részecskeszűrő: Van</li>
                    {% endif %}
                    {% if car.riasztó %}
                        <li>Riasztó: Van</li>
                    {% endif %}
                    {% if car.sebességfüggő_szervokormány %}
                        <li>Sebességfüggő szervokormány: Van</li>
                    {% endif %}
                    {% if car.sperr_differincálmű %}
                        <li>Sperr differenciálmű: Van</li>
                    {% endif %}
                    {% if car.sportfutómű %}
                        <li>Sportfutómű: Van</li>
                    {% endif %}
                    {% if car.sportülések %}
                        <li>Sportülések: Van</li>
                    {% endif %}
                    {% if car.szervokormány %}
                        <li>Szervokormány: Van</li>
                    {% endif %}
                    {% if car.színezett_üveg %}
                        <li>Színezett üveg: Van</li>
                    {% endif %}
                    {% if car.távolságtartó_tempomat %}
                        <li>Távolságtartó tempomat: Van</li>
                    {% endif %}
                    {% if car.tempomat %}
                        <li>Tempomat: Van</li>
                    {% endif %}
                    {% if car.tolóajtó %}
                        <li>Tolóajtó: Van</li>
                    {% endif %}
                    {% if car.tolótető %}
                        <li>Tolótető: Van</li>
                    {% endif %}
                    {% if car.vonóhorog %}
                        <li>Vonóhorog: Van</li>
                    {% endif %}
                    {% if car.vészfékező %}
                        <li>Vészfékező: Van</li>
                    {% endif %}
                    {% if car.S_LINE %}
                        <li>S-Line: Van</li>
                    {% endif %}
                    {% if car.adaptiv_légrugó %}
                        <li>Adaptív légrugó: Van</li>
                    {% endif %}
                    {% if car.AMG %}
                        <li>AMG: Van</li>
                    {% endif %}
                    {% if car.M_SPORT %}
                        <li>M Sport: Van</li>
                    {% endif %}
                    {% if car.agiliti_kontroll %}
                        <li>Agility Controll: Van</li>
                    {% endif %}
                    {% if car.sport_komfort_echo %}
                        <li>Sport/Komfort/Echo: Van</li>
                    {% endif %}
                    {% if car.mágneses_lengéscsillapitó %}
                        <li>Mágneses lengéscsillapító: Van</li>
                    {% endif %}
                    {% if car.alufelni %}
                        <li>Alufelni méret: {{car.alufelni}}</li>
                    {% endif %}
                    {% if car.aktiv_kormány %}
                        <li>Aktív kormány: Van</li>
                    {% endif %}
                    {% if car.dynamic_drive %}
                        <li>Dynamic Drive: Van</li>
                    {% endif %}
                    {% if car.adaptiv_drive %}
                        <li>Adaptive Drive: Van</li>
                    {% endif %}
                    {% if car.összkerék_hajtás %}
                        <li>Összkerék meghajtás: Van</li>
                    {% endif %}
                    </ul>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-md-3 col-lg-3 specifications-col">
                <div>
                    <h3>Kényelmi felszereltség</h3>
                    <ul>
                    {% if car.komfort_bejutás_key_less %}
                        <li>Komfort- Keyless- bejutás: Van</li>
                    {% endif %}
                    {% if car.lábbal_nyitható_csomagtér %}
                        <li>Lábbal nyitható csomagtér: Van</li>
                    {% endif %}
                    {% if car.elektromos_rolók %}
                        <li>Elektromos rolók: Van</li>
                    {% endif %}
                    {% if car.el_tükrök_külső_belső_memória_fényszenzor %}
                        <li>Tükör memória + fényszenzor: Van</li>
                    {% endif %}
                    {% if car.hővédő_üvegezés %}
                        <li>Hővédő üvegezés: Van</li>
                    {% endif %}
                    {% if car.akkusztikus_üvegezés %}
                        <li>Akusztikus üvegezés: Van</li>
                    {% endif %}
                    {% if car.b_oszlop_folia %}
                        <li>B-oszlop fólia: Van</li>
                    {% endif %}
                    {% if car.négyzónás_klima %}
                        <li>Négyzónás klíma: Van</li>
                    {% endif %}
                    {% if car.gerinctámasz %}
                        <li>Gerinctámasz: Van</li>
                    {% endif %}
                    {% if car.kormányfütés %}
                        <li>Kormányfűtés: Van</li>
                    {% endif %}
                    {% if car.sizsák %}
                        <li>sízsák: Van</li>
                    {% endif %}
                    {% if car.digitális_müszerfal %}
                        <li>Digitális műszerfal: Van</li>
                    {% endif %}
                    {% if car.garázsnyitó %}
                        <li>Garázsnyitó: Van</li>
                    {% endif %}
                    {% if car.hazakisérő_fény %}
                        <li>Hazakísérő fény: Van</li>
                    {% endif %}
                    {% if car.állófűtés %}
                        <li>Állófűtés: Van</li>
                    {% endif %}
                    {% if car.állóhelyzeti_szellőzés %}
                        <li>Állóhelyzeti szellőzés: Van</li>
                    {% endif %}
                    {% if car.bőr_kárpit %}
                        <li>Bőr kárpit: Van</li>
                    {% endif %}
                    {% if car.alcantara_bőr_kárpit %}
                        <li>Alcantra-bőr kárpit: Van</li>
                    {% endif %}
                    {% if car.start_stop %}
                        <li>Start Stop: Van</li>
                    {% endif %}
                    {% if car.full_extra %}
                        <li>Full Extra: Van</li>
                    {% endif %}
                    {% if car.fűthető_ablakmosó_fúvókák %}
                        <li>Fűthető ablakmosó fúvókák: Van</li>
                    {% endif %}
                    {% if car.fűthető_szélvédő %}
                        <li>Fűthető szélvédő: Van</li>
                    {% endif %}
                    {% if car.fűthető_ülés %}
                        <li>Fűthető ülés: Van</li>
                    {% endif %}
                    {% if car.álló_helyzeti_klíma %}
                        <li>Állóhelyzeti klíma: Van</li>
                    {% endif %}
                    {% if car.hűthető_kartámasz %}
                        <li>Hűthető kartámasz: Van</li>
                    {% endif %}
                    {% if car.hűthető_kesztyűtartó %}
                        <li>Hűthető kesztyűtartó: Van</li>
                    {% endif %}
                    {% if car.üléshűtés_szellőztetés %}
                        <li>Üléshűtés/szellőztetés: Van</li>
                    {% endif %}
                    {% if car.bőr_belső %}
                        <li>Bőr belső: Van</li>
                    {% endif %}
                    {% if car.műbőr_kárpit %}
                        <li>Műbőr kárpit: Van</li>
                    {% endif %}
                    {% if car.velúr_kárpit %}
                        <li>Velúr kárpit: Van</li>
                    {% endif %}
                    {% if car.soft_close_ajtó_szervó %}
                        <li>Soft Close ajtószervo: Van</li>
                    {% endif %}
                    {% if car.állítható_combtámasz %}
                        <li>Állítható combtámasz: Van</li>
                    {% endif %}
                    {% if car.állítható_hátsó_ülések %}
                        <li>Állítható hátsó ülések: Van</li>
                    {% endif %}
                    {% if car.automata_csomagtérajtó %}
                        <li>Automata csomagtérajtó: Van</li>
                    {% endif %}
                    {% if car.automata_sötétedő_belsőtükör %}
                        <li>Automata-sötétedő belsőtükör: Van</li>
                    {% endif %}
                    {% if car.automata_sötétedő_külsőtükör %}
                        <li>Automata-sötétedő külsőtükör: Van</li>
                    {% endif %}
                    {% if car.bőrszövet_huzat %}
                        <li>Bőrszövet huzat: Van</li>
                    {% endif %}
                    {% if car.deréktámasz %}
                        <li>Deréktámasz: Van</li>
                    {% endif %}
                    {% if car.dönthető_utasülések %}
                        <li>Dönthető utasülések: Van</li>
                    {% endif %}
                    {% if car.elektromos_ülésállítás_utasoldal %}
                        <li>Elektromos utasoldali ülésállítás: Van</li>
                    {% endif %}
                    {% if car.elektromos_ülésállítás_vezetőoldal %}
                        <li>Elektromos vezetőoldali ülésállítás: Van</li>
                    {% endif %}
                    {% if car.elektromos_fejtámlák %}
                        <li>Elektromos fejtámlák: Van</li>
                    {% endif %}
                    {% if car.elektromos_behajtható_tükrök %}
                        <li>Elektromos behajtható tükrök: Van</li>
                    {% endif %}
                    {% if car.elektronikus_futómű_hangolás %}
                        <li>Elektronikus futómű hangolás: Van</li>
                    {% endif %}
                    {% if car.faberakás %}
                        <li>Faberakás: Van</li>
                    {% endif %}
                    {% if car.középső_kartámasz %}
                        <li>Középső kartámasz: Van</li>
                    {% endif %}
                    {% if car.masszírozós_ülés %}
                        <li>Masszírozós ülés: Van</li>
                    {% endif %}
                    {% if car.memóriás_vezetőülés %}
                        <li>Memóriás vezetőülés: Van</li>
                    {% endif %}
                    {% if car.motoros_memóriás_ülések %}
                        <li>Motoros-memóriás ülések: Van</li>
                    {% endif %}
                    {% if car.multifunkciós_kormánykerék %}
                        <li>Multifunkciós kormánykerék: Van</li>
                    {% endif %}
                    {% if car.plüss_kárpit %}
                        <li>Plüss kárpit: Van</li>
                    {% endif %}
                    {% if car.pótkerék %}
                        <li>Pótkerék: Van</li>
                    {% endif %}
                    {% if car.távolsági_fényszóró_asszisztens %}
                        <li>Távolsági fényszóró asszisztens: Van</li>
                    {% endif %}
                    {% if car.tolatókamera %}
                        <li>Tolatókamera: Van</li>
                    {% endif %}
                    {% if car.tolatóradar %}
                        <li>Tolatóradar: Van</li>
                    {% endif %}
                    {% if car.ülésmagasság_állítás %}
                        <li>Ülésmagasság állítás: Van</li>
                    {% endif %}
                    </ul>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-md-3 col-lg-3 specifications-col">
                <div>
                    <h3>Biztonsági felszereltség</h3>
                    <ul>
                    {% if car.függönylégzsák %}
                        <li>Függöny légzsák: Van</li>
                    {% endif %}
                    {% if car.gyalogos_légzsák %}
                        <li>Gyalogos légzsák: Van</li>
                    {% endif %}
                    {% if car.hátsó_oldal_légzsák %}
                        <li>Hátsó oldal légzsák: Van</li>
                    {% endif %}
                    {% if car.kikapcsolható_légzsák %}
                        <li>Kikapcsolható légzsák: Van</li>
                    {% endif %}
                    {% if car.oldallégzsák %}
                        <li>Oldallégzsák: Van</li>
                    {% endif %}
                    {% if car.térdlégzsák %}
                        <li>Térdlégzsák: Van</li>
                    {% endif %}
                    {% if car.utasoldali_légzsák %}
                        <li>Utasoldali légzsák: Van</li>
                    {% endif %}
                    {% if car.vezetőoldali_légzsák %}
                        <li>Vezetőoldali légzsák: Van</li>
                    {% endif %}
                    {% if car.bixenon_fényszóró %}
                        <li>Bixenon fényszóró: Van</li>
                    {% endif %}
                    {% if car.bukólámpa %}
                        <li>Bukólámpa: Van</li>
                    {% endif %}
                    {% if car.éjjellátó_asszisztens %}
                        <li>Éjjellátó asszisztens: Van</li>
                    {% endif %}
                    {% if car.fényszóró_magasságállítás %}
                        <li>Fényszóró-magasság állítás: Van</li>
                    {% endif %}
                    {% if car.fényszóró_mosó %}
                        <li>Fényszóró mosó: Van</li>
                    {% endif %}
                    {% if car.kanyarkövető_fényszóró %}
                        <li>Kanyarkövető fényszóró: Van</li>
                    {% endif %}
                    {% if car.kiegészítő_fényszóró %}
                        <li>Kiegészítő fényszóró: Van</li>
                    {% endif %}
                    {% if car.ködlámpa %}
                        <li>Ködlámpa: Van</li>
                    {% endif %}
                    {% if car.LED_fényszóró %}
                        <li>LED fényszóró: Van</li>
                    {% endif %}
                    {% if car.mátrix_LED %}
                        <li>Mátrix LED: Van</li>
                    {% endif %}
                    {% if car.adaptiv_LED %}
                        <li>Adaptív LED: Van</li>
                    {% endif %}
                    {% if car.xenon_fényszóró %}
                        <li>Xenon fényszóró: Van</li>
                    {% endif %}
                    {% if car.lézer_fény %}
                        <li>Lézer fényszóró: Van</li>
                    {% endif %}
                    {% if car.multibeam %}
                        <li>Multibeam: Van</li>
                    {% endif %}
                    {% if car.led_hátsó_lámpák %}
                        <li>LED hátsó lámpák: Van</li>
                    {% endif %}
                    {% if car.ABS_blokkolásgátló %}
                        <li>ABS blokkolásgátló: Van</li>
                    {% endif %}
                    {% if car.ADS_adaptívlengéscsillapító %}
                        <li>ADS adaptív lengéscsillapító: Van</li>
                    {% endif %}
                    {% if car.APS_parkolóradar %}
                        <li>APS parkolóradar: Van</li>
                    {% endif %}
                    {% if car.ARD_autómatikustávolságtartó %}
                        <li>ARD automatikus távolságtartó: Van</li>
                    {% endif %}
                    {% if car.ASR_kipörgésgátló %}
                        <li>ASR kipörgésgátló: Van</li>
                    {% endif %}
                    {% if car.beépített_gyerekülés %}
                        <li>Beépített gyerekülés: Van</li>
                    {% endif %}
                    {% if car.bukócső %}
                        <li>Bukócső: Van</li>
                    {% endif %}
                    {% if car.csomag_rögzítő %}
                        <li>Csomag-rögzítő: Van</li>
                    {% endif %}
                    {% if car.defekktűrő_abroncsok %}
                        <li>Defekttűrő abroncsok: Van</li>
                    {% endif %}
                    {% if car.EBD_EBV_elektronikusfékerő_elosztó %}
                        <li>EBD-EBV elektronikus fékerő-elosztó: Van</li>
                    {% endif %}
                    {% if car.EDS_elektronikus_diferenciálzár %}
                        <li>EDS elektronikus differenciálzár: Van</li>
                    {% endif %}
                    {% if car.esőszenzor %}
                        <li>Esőszenzor: Van</li>
                    {% endif %}
                    {% if car.ESP_menetstabilizátor %}
                        <li>ESP menetstabilizátor: Van</li>
                    {% endif %}
                    {% if car.fékasszisztens %}
                        <li>Fékasszisztens: Van</li>
                    {% endif %}
                    {% if car.GPS_nyomkövető %}
                        <li>GPS nyomkövető: Van</li>
                    {% endif %}
                    {% if car.guminyomásellenőrző_rendszer %}
                        <li>Guminyomás ellenőrző rendszer: Van</li>
                    {% endif %}
                    {% if car.hátsó_fejtámlák %}
                        <li>Hátsó fejtámlák: Van</li>
                    {% endif %}
                    {% if car.indításgátló_immobiliser %}
                        <li>Indításgátló immobiliser: Van</li>
                    {% endif %}
                    {% if car.ISOFIX_rendszer %}
                        <li>ISOFIX rendszer: Van</li>
                    {% endif %}
                    {% if car.lejtmenet_asszisztens %}
                        <li>Lejtmenet asszisztens: Van</li>
                    {% endif %}
                    {% if car.MSR_motorféknyomás_szabályzás %}
                        <li>MSR motorféknyomás szabályzás: Van</li>
                    {% endif %}
                    {% if car.rablásgátló %}
                        <li>Rablásgátló: Van</li>
                    {% endif %}
                    {% if car.sávtartó_rendszer %}
                        <li>Sávtartó rendszer: Van</li>
                    {% endif %}
                    {% if car.sebességváltó_zár %}
                        <li>Sebességváltó zár: Van</li>
                    {% endif %}
                    {% if car.táblafelismerő_funkció %}
                        <li>Táblafelismerő funkció: Van</li>
                    {% endif %}
                    {% if car.visszagurulás_gátló %}
                        <li>Visszagurulás gátló: Van</li>
                    {% endif %}
                    </ul>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-md-3 col-lg-3 specifications-col">
                <div>
                    <h3>Hi-fi és multimédia</h3>
                    <ul>
                    {% if car.autótelefon %}
                        <li>Autótelefon: Van</li>
                    {% endif %}
                    {% if car.CDs_autórádió %}
                        <li>CD-s autórádió: Van</li>
                    {% endif %}
                    {% if car.DVD %}
                        <li>DVD: Van</li>
                    {% endif %}
                    {% if car.GPS %}
                        <li>GPS: Van</li>
                    {% endif %}
                    {% if car.HIFI %}
                        <li>HIFI: Van</li>
                    {% endif %}
                    {% if car.rádió %}
                        <li>Rádió: Van</li>
                    {% endif %}
                    {% if car.rádiós_magnó %}
                        <li>Rádiós magnó: Van</li>
                    {% endif %}
                    {% if car.TV %}
                        <li>TV: Van</li>
                    {% endif %}
                    {% if car.DIN_1db %}
                        <li>1 DIN: Van</li>
                    {% endif %}
                    {% if car.DIN_2db %}
                        <li>2 DIN: Van</li>
                    {% endif %}
                    {% if car.CD_tár %}
                        <li>CD tár: Van</li>
                    {% endif %}
                    {% if car.MP3_lejátszás %}
                        <li>MP3 lejátszás: Van</li>
                    {% endif %}
                    {% if car.MP4_lejátszás %}
                        <li>MP4 lejátszás: Van</li>
                    {% endif %}
                    {% if car.WMA_lejátszás %}
                        <li>WMA lejátszás: Van</li>
                    {% endif %}
                    {% if car.analóg_TV_tuner %}
                        <li>Analóg TV tuner: Van</li>
                    {% endif %}
                    {% if car.AUX_csatlakozó %}
                        <li>AUX csatlakozó: Van</li>
                    {% endif %}
                    {% if car.bluetooth_kihangosító %}
                        <li>Bluetooth kihangosító: Van</li>
                    {% endif %}
                    {% if car.DVB_tuner %}
                        <li>DVB tuner: Van</li>
                    {% endif %}
                    {% if car.DVBT_tuner %}
                        <li>DVBT tuner: Van</li>
                    {% endif %}
                    {% if car.erősító_kimenet %}
                        <li>Erősítő kimenet: Van</li>
                    {% endif %}
                    {% if car.FM_transzmitter %}
                        <li>FM transzmitter: Van</li>
                    {% endif %}
                    {% if car.HDMI_bemenet %}
                        <li>HDMI bemenet: Van</li>
                    {% endif %}
                    {% if car.iPhone_iPod_csatlakozó %}
                        <li>iPhone/iPad csatlakozó: Van</li>
                    {% endif %}
                    {% if car.kihangosító %}
                        <li>Kihangosító: Van</li>
                    {% endif %}
                    {% if car.memóriakártya_olvasó %}
                        <li>Memóriakártya olvasó: Van</li>
                    {% endif %}
                    {% if car.merevlemez %}
                        <li>Merevlemez: Van</li>
                    {% endif %}
                    {% if car.mikrofon_bemenet %}
                        <li>Mikrofon bemenet: Van</li>
                    {% endif %}
                    {% if car.tolatókamera_bemenet %}
                        <li>Tolatókamera bemenet: Van</li>
                    {% endif %}
                    {% if car.USB_csatlakozó %}
                        <li>USB csatlakozó: Van</li>
                    {% endif %}
                    {% if car.érintőkijelző %}
                        <li>Érintőkijelző: Van</li>
                    {% endif %}
                    {% if car.erősítő %}
                        <li>Erősítő: Van</li>
                    {% endif %}
                    {% if car.fejtámlamonitor %}
                        <li>Fejtámlamonitor: Van</li>
                    {% endif %}
                    {% if car.gyári_erősítő %}
                        <li>Gyári erősítő: Van</li>
                    {% endif %}
                    {% if car.kormányra_szerelhető_távirányító %}
                        <li>Kormányra szerelhető távirányító: Van</li>
                    {% endif %}
                    {% if car.távirányító %}
                        <li>Távirányító: Van</li>
                    {% endif %}
                    {% if car.tetőmonitor %}
                        <li>Tetőmonitor: Van</li>
                    {% endif %}
                    {% if car.touchpad %}
                        <li>Touchpad: Van</li>
                    {% endif %}
                    {% if car.beszédvezérlés %}
                        <li>Beszédvezérlés: Van</li>
                    {% endif %}
                    {% if car.smartphone %}
                        <li>Smartphone: Van</li>
                    {% endif %}
                    {% if car.apple_carplay %}
                        <li>Apple CarPlay: Van</li>
                    {% endif %}
                    {% if car.burmester %}
                        <li>Burmester Hi-Fi: Van</li>
                    {% endif %}
                    {% if car.harman_kardon %}
                        <li>Harman Kardon Hi-Fi: Van</li>
                    {% endif %}
                    {% if car.bose %}
                        <li>Bose Hi-Fi: Van</li>
                    {% endif %}
                    {% if car.bang_and_olufsen %}
                        <li>Bang & Olufsen Hi-Fi: Van</li>
                    {% endif %}
                    {% if car.sim %}
                        <li>SIM kártya: Van</li>
                    {% endif %}
                    {% if car.sd %}
                        <li>SD kártya: Van</li>
                    {% endif %}
                    {% if car.dvd_cd %}
                        <li>DVD/CD: Van</li>
                    {% endif %}
                    {% if car.mmi_pluss %}
                        <li>MMI Plus: Van</li>
                    {% endif %}
                    {% if car.professional %}
                        <li>Professional: Van</li>
                    {% endif %}
                    {% if car.widescreen %}
                        <li>Widescreen: Van</li>
                    {% endif %}
                    {% if car.internet %}
                        <li>Internet: Van</li>
                    {% endif %}
                    {% if car.app_letöltés %}
                        <li>App letöltés: Van</li>
                    {% endif %}
                    {% if car.vezeték_nélküli_töltés %}
                        <li>Vezeték nélküli töltés: Van</li>
                    {% endif %}
                    {% if car.digitális_rádió %}
                        <li>Digitális rádió: Van</li>
                    {% endif %}
                    {% if car.hangszórók_száma %}
                        <li>Hangszórók száma: {{hangszórók_száma}}</li>
                    {% endif %}
                    {% if car.mélynyomó %}
                        <li>Mélynyomó: Van</li>
                    {% endif %}
                    </ul>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-md-3 col-lg-3 specifications-col">
                <div>
                    <h3>Egyéb jellemzők</h3>
                    <ul>
                    {% if car.garanciális %}
                        <li>Mélynyomó: Van</li>
                    {% endif %}
                    {% if car.azonnal_elvihető %}
                        <li>Azonnal elvihető: Van</li>
                    {% endif %}
                    {% if car.bemutató_jármű %}
                        <li>Bemutató jármű: Van</li>
                    {% endif %}
                    {% if car.jobbkormányos %}
                        <li>Jobbkormányos: Van</li>
                    {% endif %}
                    {% if car.autóbeszámítás_lehetséges %}
                        <li>Autóbeszámítás lehetséges: Van</li>
                    {% endif %}
                    {% if car.első_tulajtól %}
                        <li>Első tulajtól: Van</li>
                    {% endif %}
                    {% if car.frissen_szervizelt %}
                        <li>Frissen szervizelt: Van</li>
                    {% endif %}
                    {% if car.garázsban_tartott %}
                        <li>Garázsban tartott: Van</li>
                    {% endif %}
                    {% if car.keveset_futott %}
                        <li>Keveset futott: Van</li>
                    {% endif %}
                    {% if car.második_tulajdonostól %}
                        <li>Második tulajdonostól: Van</li>
                    {% endif %}
                    {% if car.motorbeszámítás_lehetséges %}
                        <li>Motorbeszámítás lehetséges: Van</li>
                    {% endif %}
                    {% if car.mozgássérült %}
                        <li>Mozgássérült: Van</li>
                    {% endif %}
                    {% if car.nem_dohányzó %}
                        <li>Nem dohányzó: Van</li>
                    {% endif %}
                    {% if car.rendszeresen_karbantartott %}
                        <li>Rendszeresen karbantartott: Van</li>
                    {% endif %}
                    {% if car.szervizkönyv %}
                        <li>Szervizkönyv: Van</li>
                    {% endif %}
                    {% if car.törzskönyv %}
                        <li>Törzskönyv: Van</li>
                    {% endif %}
                    {% if car.pipálható_extra_név1 %}
                        <li>{{car.pipálható_extra_név1}}: Van</li>
                    {% endif %}
                    {% if car.pipálható_extra_név2 %}
                        <li>{{car.pipálható_extra_név2}}: Van</li>
                    {% endif %}
                    {% if car.pipálható_extra_név3 %}
                        <li>{{car.pipálható_extra_név3}}: Van</li>
                    {% endif %}
                    {% if car.pipálható_extra_név4 %}
                        <li>{{car.pipálható_extra_név4}}: Van</li>
                    {% endif %}
                    {% if car.pipálható_extra_név5 %}
                        <li>{{car.pipálható_extra_név5}}: Van</li>
                    {% endif %}
                    {% if car.kitölthető_extra_név1 %}
                        <li>{{car.kitölthető_extra_név1}}: {{car.kitölthető_extra_érték1}}</li>
                    {% endif %}
                    {% if car.kitölthető_extra_név2 %}
                        <li>{{car.kitölthető_extra_név2}}: {{car.kitölthető_extra_érték2}}</li>
                    {% endif %}
                    {% if car.kitölthető_extra_név3 %}
                        <li>{{car.kitölthető_extra_név3}}: {{car.kitölthető_extra_érték3}}</li>
                    {% endif %}
                    {% if car.kitölthető_extra_név4 %}
                        <li>{{car.kitölthető_extra_név4}}: {{car.kitölthető_extra_érték4}}</li>
                    {% endif %}
                    {% if car.kitölthető_extra_név5 %}
                        <li>{{car.kitölthető_extra_név5}}: {{car.kitölthető_extra_érték5}}</li>
                    {% endif %}
                    </ul>
                </div>
            </div>
            {% if car.leírás %}
            <div class="col-12 col-sm-12 col-md-6 col-md-3 col-lg-3 specifications-col">
                <div>
                    <h3>Leírás</h3>
                    <ul>
                        <li>{{car.leírás}}</li>
                    </ul>
                </div>
            </div>
            {% endif %}
        </div>
    <div>
</div>
</div>
{% endblock %}
{% block bem-beh %}
<div class="" id="bem-container">
    <div id="bem-title">
        <h4>Bemutatkozás</h4>
    </div>
    <p class="bem-text">
        Már több mint 10 éve foglalkozunk autók adásával és vételével.
        Minden megvásárolt autót részletesen megvizsgálunk, hogy
        ne érje az ügyfeleinket meglepetés
        Az autókat, amiket árulunk csak akkor hirdetjük meg, amikor az eladásra készen
        parkol már a telephelyünkön.
        Ennek köszönhetően, akár már az érdeklődés napján meg tudjuk kötni a szerződést, ha az ügyfél úgy kívánja.
        Az átvétel napján elintézzük az okmányirodai ügyintézést és a biztosításkötést helyben.
    </p>
</div>
<div id="behozatal">
    <h4 id="behozatal-title" style="display: inline-block;">Behozatal</h4>
    <p class="lead" style="display: inline-block;"> (Az oldalunkon hirdetett autóink már átvételre készek!)</p>
    <div class="row p-4">
        <div class="col-12 col-md-4 col-lg-4" style="margin-bottom: 1rem;">
            <h6>Kitalálta milyen autót szeretne?</h6>
            <p>
                Ha kitalálta milyen autót szeretne, vegye fel velünk a <a href="">kapcsolatot</a> és segítünk Önnek! A szállítási határidő 10 nap.
                Adja meg az Ön által konfigurált autó paramétereit, az extrákat, amiket szeretne és mi beszerezzük Önnek. <br>
                Ha nincsen kialakult elképzelése vagy kérdése van, bármiben állunk rendelkezésére, <a href="">keressen minket bizalommal</a>!
            </p>
        </div>
        <div class="col-12 col-md-4 col-lg-4" style="margin-bottom: 1rem;">
            <h6>Miben segítünk pontosan?</h6>
            <p>
                Az értékesített autóknak köszönhetően, valamint ügyfeleink ízlése alapján, rengeteg tapasztalatra tettünk szert, ezeket szeretnénk megosztani az Ön autója kiválasztásánál.
                Nem csak azok jellemzőit ismerjük nagyon jól, hanem azt is, hogy mire kell ilyenkor odafigyelni, hogy a lehető legjobbat tudjuk Önnek kínálni.
                A külföldi márkakereskedők ismernek minket és bíznak bennünk és mi is tudjuk hol érdemes vásárolni. <br>
                És ami a legfontosabb, Önnek csak ki kell választania az autót, mi pedig átvizsgáljuk, megvesszük, leszállítjuk a telephelyünkre, hogy kulturált körülmények között átvehesse.
                Az átadásig minden pénzügyi kockázat a miénk. Tekintse meg a {% load static %}<a href="{% static 'cars/images/BIANCO.pdf' %}">szállítási szerződésünket (BIANCO)</a>.
            </p>
        </div>
        <div class="col-12 col-md-4 col-lg-4">
            <h6>Finanszírozás</h6>
            <p>
                Ha finanszírozási szolgáltatást szeretne igénybe venni, egyedi ajánlatot kérünk az Ön által megadott futam idő és önerő alapján, a választott banknál. Ez lehet nyílt végű és zárt végű (<a href="http://www.portfolio.hu/finanszirozas/kkv/lizing--nyilt-es-zart-vegu.4.45214.html" target="_blank">Melyiket válassza?</a>). <a href="http://www.autohitel.hu/lizing-zart-es-nyiltvegu/" target="_blank">Tájékoztató a leasing-ről</a>.
            </p>
            <p>
                <span class="lead">Partnereink:</span>
            </p>
            <div class="">
                <div class="card text-center">
                    {% load static %}
                    <img class="leasing-logo img-fluid" src="{% static 'cars/images/budapestbank-logo.jpg' %}" style="width: 14rem;">
                </div>
                <div class="card text-center">
                    {% load static %}
                    <img class="leasing-logo img-fluid" src="{% static 'cars/images/mkb-logo.jpg' %}" style="width: 10rem;">
                </div>
                <div class="card text-center">
                    {% load static %}
                    <img class="leasing-logo img-fluid" src="{% static 'cars/images/merkantill-logo.png' %}" style="width: 14rem;" >
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
